/*
// --------------------------
// Webprojekt 3.0
// Copyright Melvin Lauber & David Clausen
// --------------------------
*/

@import "_config.css";

/* @group artist detail page */

body.artist_detail #navigation {
	display: none;
}
h1.artist_detail_title {
	font-size: 70px;
	line-height: 78px;
	margin-bottom: 15px;
	margin-top: 0;
}
a.follow_button,
a.follow_button.is_following:hover {
	display: inline-block;
	font-size: 14px;
	background: var(--button);
	color: var(--text);
	text-decoration: none;
	border-radius: 50px;
	padding: 8px 12px;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 20px;
}
a.follow_button:hover,
a.follow_button.is_following {
	background: var(--primary-color_light);
	color: var(--primary-color);
}
h3.popular_title {
	margin-bottom: 25px;
}
.artist_image {
	position: absolute;
	top: 0;
	left: 290px;
	z-index: 0;
	width: calc(100% - 290px);
	max-height: 560px;
	overflow: hidden;
}
.artist_image img {
	width: 100%;
}
.artist_content {
	margin-top: 415px;
}
#popular_wrapper .left_wrapper {
	float: left;
}
#popular_wrapper .right_wrapper {
	float: right;
}
.popular_song {
	min-width: 545px;
	background: var(--button);
	border-radius: 13px;
	margin-top: 20px;
}
.popular_song:first-child {
	margin-top: 0;
}
.popular_song .popular_song_inner {
	padding: 8px 25px;
	box-sizing: border-box;
}
.popular_song .popular_song_inner .play_song,
.popular_song .popular_song_inner .like_song,
.popular_song .popular_song_inner .more_song,
.popular_song .popular_song_inner .song_options .time {
	position: relative;
	float: left;
	top: 17px;
}
.popular_song .popular_song_inner .more_song {
	top: 21px;
	margin-left: 20px;
}
.popular_song .popular_song_inner .song_options .time {
	top: 13px;
}
.popular_song .popular_song_inner .play_song:hover path,
.popular_song .popular_song_inner .like_song:hover path {
	fill: var(--primary-color);
	cursor: pointer;
}
.popular_song .popular_song_inner .cover_img {
	float: left;
	margin-left: 20px;
}
.popular_song .popular_song_inner .song_information {
	float: left;
	margin-left: 20px;
}
.popular_song .popular_song_inner .song_name {
	font-size: 18px;
	line-height: 26px;
	color: var(--text);
	font-weight: 700;
	margin: 0;
}
.popular_song .popular_song_inner .artist_name {
	font-size: 14px;
	color: var(--light_text);
	margin: 0;
}
.popular_song .popular_song_inner .song_options {
	float: right;
}
.popular_song .popular_song_inner .like_song {
	margin-left: 20px;
}
#albums_overview,
#songs_overview {
	margin-top: 70px;
}
.album_wrapper,
.songs_wrapper {
	clear: both;
}
#albums_overview .album_item,
#songs_overview .song_item {
	float: left;
	margin-left: 30px;
	transition: all 0.3s ease;
	border-radius: 13px;
	overflow: hidden;
	width: 175px;
	height: 175px;
}
#albums_overview .album_item:hover,
#songs_overview .song_item:hover {
	box-shadow: var(--standard_shadow);
	transform: scale(1.05);
	transition: all 0.3s ease;
}
#albums_overview .album_item img,
#songs_overview .song_item img {
	width: 100%;
}
#albums_overview .album_item:first-child,
#songs_overview .song_item:first-child {
	margin-left: 0;
}
#albums_overview h3.short_title,
#songs_overview h3.short_title {
	float: left;
}
#albums_overview .show_all,
#songs_overview .show_all {
	float: right;
	font-size: 14px;
	line-height: 18px;
	color: var(--navigation_left);
	margin: 0;
	margin-top: 10px;
}

/* @end */



/* @group */

#album_informations {
	float: left;
}
#song_list {
	overflow: hidden;
	padding-left: 70px;
}
#album_overview #album_informations .album {
	border-radius: 13px;
}
#album_overview #album_informations .album_title {
	font-size: 28px;
	line-height: 37px;
	font-weight: 700;
	color: var(--text);
	margin-top: 10px;
	margin-bottom: 0;
}
.album_details li {
	float: left;
	position: relative;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	list-style-type: none;
	margin-left: 25px;
	color: var(--light_text);
}
.album_details li:before {
	position: absolute;
	content: '';
	background: var(--light_text);
	width: 9px;
	height: 9px;
	border-radius: 50px;
	top: 8px;
	left: -17px;
}
.album_details li:first-child {
	margin-left: 0;
}
.album_details li:first-child:before {
	display: none;
}
/* end */
