/*
// --------------------------
// Webprojekt 3.0
// Copyright Melvin Lauber & David Clausen
// --------------------------
*/

/* set variables */
:root{
	--primary-color: #636AFD;
	--primary-color_light: #e0e1ff;
	--text: #222;
	--navigation_left: #6B6B6B;
	--border: #C7C7C7;
	--light_text: #9D9FB3;
	--button: #ededed;
	--border-bottom: #707070;
}
