/*
// --------------------------
// Webprojekt 3.0
// Copyright Melvin Lauber & David Clausen
// --------------------------
*/

@import "_config.css";

.title_login {
  font-size: 46px;
  line-height: 58px;
}

.title_register {
  font-size: 41px;
  line-height: 62px;
}

#login_form_wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 632px;
  height: auto;
  border-radius: 18px;
  box-shadow: 0px 3px 41px rgba(0,0,0,0.35);
  background-color: #ffffff;
}

#register_form_wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 632px;
  height: auto;
  border-radius: 18px;
  box-shadow: 0px 3px 41px rgba(0,0,0,0.35);
  background-color: #ffffff;
}

.login_form_inner{
  padding: 60px 125px;
  box-sizing: border-box;

}
.form_element {
    position: relative;
	margin-bottom: 25px;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
	font-size: 12px;
    line-height: 16px;
    color: var(--light_text);
    width: 100%;
    padding: 15px 20px;
    border: none;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px;
    box-shadow: 0 0 26px rgba(0,0,0,0.3);
    box-sizing: border-box;
}
.login_form_element input[type="text"]:hover::placeholder,
.login_form_element input[type="text"]:focus::placeholder,
.login_form_element textarea:hover::placeholder,
.login_form_element textarea:focus::placeholder {
	color: var(--primary-color);
}


input.submit-button-register,
.submit-button-cancel-register,
.submit-button-cancel,
input.submit-button {
	display: inline-block;
    font-size: 14px;
    background: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 12px;
    text-align: center;
    box-sizing: border-box;
	box-shadow: none;
	border: none;
}

.submit-button-cancel-register,
.submit-button-cancel {
    background: var(--button);
    color: var(--text);
}

.button_wrap {
	max-width: 272px;
	margin: 0 auto;
}

.button_wrap.login {
	max-width: 192px;
}
.button_wrap.password_reset {
	max-width: 302px;
}

input.submit-button-register:hover,
.submit-button-cancel-register:hover,
.submit-button-cancel:hover,
input.submit-button:hover {
	opacity: 0.6;
	cursor: pointer;
}

.add_new_artist_form {
	display: none;
}

.password_reset {
	display: block;
	text-align: center;
}
.password_reset a {
	color: var(--primary-color);
	text-decoration: none;
}
.password_reset a:hover {
	color: var(--text);
}
