/*
// --------------------------
// Webprojekt 3.0
// Copyright Melvin Lauber & David Clausen
// --------------------------
*/

@import "_config.css";


.submit-button-logout {
	display: inline-block;
    font-size: 14px;
    background: var(--button);
    color: var(--text);
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 12px;
    text-align: center;
    box-sizing: border-box;
	box-shadow: none;
	border: none;
	transition: 0.2s ease;
}
.submit-button-logout:hover {
	transform: scale(1.1);
	transition: 0.2s ease;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: var(--primary-color);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.settings_change_username {
	margin-top: 20px;
}

h2.settings {
	font-size: 28px;
	line-height: 37px;
	font-weight: 700;
	color: var(--text);
	margin-bottom: 40px;
	margin: 20px 0px;
}

h3.settings {
	font-size: 22px;
	line-height: 37px;
	font-weight: 700;
	color: var(--text);
	margin-bottom: 40px;
	margin: 20px 0px;
}

.choose_language select {
	font-size: 12px;
    line-height: 16px;
    color: var(--light_text);
    width: 381px;
    padding: 15px 20px;
    border: none;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px;
    box-shadow: 0 0 26px rgba(0,0,0,0.3);
    box-sizing: border-box;
	margin-bottom: 25px;
}

.settings_change input {
	font-size: 12px;
    line-height: 16px;
    color: var(--light_text);
    width: 381px;
    padding: 15px 20px;
    border: none;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -o-border-radius: 23px;
    border-radius: 23px;
    box-shadow: 0 0 26px rgba(0,0,0,0.3);
    box-sizing: border-box;
	margin-bottom: 25px;
}

.current_image {
	position: relative;
	width: 250px;
	height: 250px;
	overflow: hidden;
}
.current_image img {
	position: absolute;
	width: auto;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.current_image .upload-btn-wrapper {
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	width: 250px;
	height: 250px;
}

.current_image:hover .upload-btn-wrapper .btn {
	cursor: pointer;
	opacity: 0.6;
}
.current_image:hover .upload-btn-wrapper input[type=file] {
	cursor: pointer;
}
.current_image .upload-btn-wrapper input[type=file] {
	width: 250px;
	height: 250px;
	z-index: 10;
}
.current_image .upload-btn-wrapper .btn {
	width: 100%;
	height: 100%;
	border-radius: 0;
	padding: 50px;
	background: #000;
	opacity: 0;
}
