/*
// --------------------------
// Webprojekt 3.0
// Copyright Melvin Lauber
// --------------------------
*/

@import "_config.css";

/* @group navigation_left */

#stream_wrapper {
  width: 100%;
  margin-left: -5px;
}

.youtube_stream {
  height: auto;
  width: 25%;
  padding: 0 5px;
  box-sizing: border-box;
  float: left;
}

.youtube_stream iframe {
  width: 100%;
}
